<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799042898364-55qpm4i0fc4hu8qc5h34vqjilp2ofc44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799042898364-55qpm4i0fc4hu8qc5h34vqjilp2ofc44</string>
	<key>API_KEY</key>
	<string>AIzaSyAzWHzJiyDLS4hNpoMKCnw9kUQGFINWFUo</string>
	<key>GCM_SENDER_ID</key>
	<string>799042898364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AgaDU.TodoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todofirebase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>todofirebase-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799042898364:ios:25fb6f4b241d447d</string>
	<key>DATABASE_URL</key>
	<string>https://todofirebase-test.firebaseio.com</string>
</dict>
</plist>